-f https://download.pytorch.org/whl/torch_stable.html 
torch==1.7.0+cpu 
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.7.0+cpu
fastai>=2
voila
ipywidgets==7.5.1
pillow<7
packaging
